<div id="marie">
  <div id="name">
    <p class="first"></p>
    <h1>Marie</h1>
    <p class="second"></p>
  </div>
  <div class="content">
    <p class="joyeux">Joyeux anniversaire Marie!!!</p>
    <p>Je tente d'innover en laissant de coté le classique papier/stylo pour le html pur et dur et parce que le html c'est quand même plus <strong>so 2018</strong>.</p>
    <p>Je te souhaite donc un joyeux anniversaire avec tout les voeux qui sont de rigueur en cette occasion.</p>
    <p>Je t'offre également ce présent, dont je n'étais pas très inspiré dans son choix, je l'avoue. Je me suis ainsi appuyé sur les tendances marketng pour le choisir, au risque que tu l'ai déjà.</p>
    <p class="signature">Thomas H.</p>
  </div>
</div>
