<div id="julie">
  <div id="name">
    <p class="first"></p>
    <h1>Julie</h1>
    <p class="second"></p>
  </div>
  <div class="content">
    <p class="joyeux">Joyeux anniversaire Julie!!!</p>
    <p>Je saisi l'occasion de ton anniversaire pour tenter de remettre au goût du jour la merveilleuse technologie du QR Code!!!</p>
    <p>Mais je saisi également l'occasion pour mettre à profit mes quelques connaissances en développement Web, qui permet de changer du traditionnel papier avec message au stylo.</p>
    <p>Soit disant passant, mon talent pour le webdesign peut être assez discutable...</p>
    <p>Mais revenons à nos moutons, je te souhaite un joyeux anniversaire Julie, avec en prime ce petit cadeau qui, si il te venait à l'esprit un jour de quitter ton travail de manageuse (d'ailleurs félicitations) permettrait de te reconvertir vers un métier un peu plus gourmand...</p>
    <p class="signature">Thomas H.</p>
  </div>
</div>
